html, body {
  margin: 0;
  height: 100vh;
}
canvas {
  display: block;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.creations{
  text-align: center;
}

.top{
  position: absolute;
  top: 1em;
  left: 2em;
  font-weight: bold;
}